/** ********** ***** ********** **/
/** ********** BOARD ********** **/
/** ********** ***** ********** **/

/** ********** Container & Generic children rules ********** **/

.todo-board {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    max-width: 100%;
}

.todo-board * {
    max-width: 100%;
}

/** ********** Top Control ********** **/

.todo-board-top-control {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/** ********** Logs ********** **/

#todo-board-logs {
    height: 3rem;
    padding: .25rem;
    background-color: #212121;
    overflow: scroll;
}

.todo-board-log {
    font: .75em Consolas, monospace;
    color: #fafafa;
    text-align: left;
}

/** ********** Title ********** **/

.todo-board-title {
    margin: .5rem;
    text-align: center;
}

/** ********** Create-New ********** **/

.todo-create-new {
    display: flex;
    flex-direction: column;

    margin: .5rem;
    width: 25rem;
    border: 1px solid #757575;

    box-shadow: 0 4px 8px #757575;
}

.todo-create-new-title {
    padding: .5rem;
    font-size: 1.25rem;
    text-align: left;
}

.todo-create-new-list-items {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.todo-create-new-list-item {
    display: flex;
    align-items: center;

    margin: .5rem 0;
}

.todo-create-new-list-item > * {
    margin: 0 .5rem;
}

/** ********** Cards ********** **/

.todo-cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;

    margin: .5rem;
}

/** ********** ********** ********** **/
/** ********** TO-DO CARD ********** **/
/** ********** ********** ********** **/

.todo-card {
    display: flex;
    flex-direction: column;

    margin: .5rem;
    width: 25rem; max-height: 50rem;
    border: 1px solid #757575;

    box-shadow: 0 4px 8px #757575;

    cursor: pointer;
}

.todo-card-title {
    padding: .5rem;
    font-size: 1.25rem;
    text-align: left;
}

.todo-card-list-items {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.todo-card-list-item {
    display: flex;
    align-items: center;

    margin: .5rem 0;
}

.todo-card-list-item > * {
    margin: 0 .5rem;
}

.todo-card-list-item-checkbox {
    display: flex;
    align-items: center;
}

.todo-card-list-item-description {
    flex-grow: 1;

    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/** ********** ********** ********** **/
/** ********** TO-DO EDIT ********** **/
/** ********** ********** ********** **/

/** ********** Container & Generic children rules ********** **/

.todo-edit {
    display: flex;
    flex-direction: column;

    margin: .5rem;
    width: 25rem;
    border: 1px solid #757575;

    box-shadow: 0 4px 8px #757575;
}

/** ********** Title ********** **/

.todo-edit-title {
    padding: .5rem;
    font-size: 1.25rem;
    text-align: left;
}

/** ********** List of items ********** **/

.todo-edit-list-items {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

/** ********** Options panel container ********** **/

.todo-edit-options-panel {
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
}

/** ********** Options panel buttons ********** **/

.todo-edit-options-panel-btn {
    padding: 0 .25rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/** ********** ******************** ********** **/
/** ********** TO-DO EDIT LIST ITEM ********** **/
/** ********** ******************** ********** **/

/** ********** Container & Generic children rules ********** **/

.todo-edit-list-item {
    display: flex;
    align-items: center;

    margin: .5rem 0;
}

.todo-edit-list-item:focus-within {
    outline: 1px solid #9E9E9E;
}

.todo-edit-list-item > * {
    margin: 0 .5rem;
}

/** ********** Dragger & Deleter ********** **/

.todo-edit-list-item-dragger, .todo-edit-list-item-deleter {
    visibility: hidden;
}

.todo-edit-list-item-dragger {
    cursor: grab;
}

.todo-edit-list-item-deleter {
    cursor: pointer;
}

.todo-edit-list-item:hover .todo-edit-list-item-dragger,
.todo-edit-list-item:hover .todo-edit-list-item-deleter,
.todo-edit-list-item:focus-within .todo-edit-list-item-deleter {
    visibility: visible;
}

/** ********** Checkbox ********** **/

.todo-edit-list-item-checkbox {
    display: flex;
    align-items: center;
}

/** ********** Description (text) ********** **/

.todo-edit-list-item-description {
    flex-grow: 1;

    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.todo-edit-list-item-description:focus {
    outline: none;
}
