/** ********** ***** ********** **/
/** ********** BOARD ********** **/
/** ********** ***** ********** **/

.todo-board-container {
    display: flex;
    flex-direction: column;
}

.todo-board-title {
    margin: .5rem;
    text-align: center;
}

/** ********** **** ********** **/
/** ********** CARD ********** **/
/** ********** **** ********** **/

.todo-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column wrap;

    margin: .5rem;
}

.todo-card-container {
    display: flex;
    flex-direction: column;

    margin: .5em;
    width: 25rem;
    border: 1px solid #757575;
    padding: .5rem 0;

    box-shadow: 0 4px 8px #757575;
}

.todo-card-title {
    font-size: 1.25rem;
}

/** ********** ********* ********** **/
/** ********** LIST ITEM ********** **/
/** ********** ********* ********** **/

.todo-list-items {
    padding: 0;
    list-style: none;
    text-align: left;
}

.todo-list-item {
    display: flex;
    align-items: flex-start;

    margin: 0;
    padding: .5rem;
}

.todo-list-item:focus-within {
    outline: 1px solid #9E9E9E;
}

.todo-list-item-checkbox {
    display: inline-block;
    margin-right: 1rem;
}

.todo-list-item-description {
    display: inline-block;
    flex-grow: 1;

    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.todo-list-item-description:focus {
    outline: none;
}

.todo-list-item-description:empty:before {
    content: attr(placeholder);
    color: #9E9E9E;
    cursor: text;
}
